*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
settings.ini
Gemfile.lock
images/copied_from_nb/
_posts/2020-02-20-test.md
_posts/2022-08-20-java.md
_posts/2022-08-20-python.md
_posts/2022-08-22-bash.md
_posts/2022-08-22-primitives.md
_posts/2022-08-30-using-java-objects.md
_posts/2022-08-31-TinyScienceTossup.docx.md
_posts/2022-09-05-jeopardy.md
_posts/2022-09-10-ifstatements.md
rohang.pem
2022-09-15-iteration.md
2022-09-22-fiboclass.md
2022-09-19-apfrq1.md
2022-09-24-jsdataig.md
2022-09-29-imagemanip.md
2022-10-01-rapidapi.md
2022-10-09-arrayist.md
2022-10-17-cbunit3.md
2022-10-17-forloops.md
2022-10-18-forloops.md
_posts/2022-10-09-arraylist.md
2022-10-19-writingclasses.md
2022-10-24-cbunit2.md
2022-10-25-arrays.md